ul.nav{
  float:right;
}

.nav-item{
  background:#1d7896;
  margin: 0 5px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-webkit-radius:5px;
}

.nav-link{
  color: #fff;
}

span li{
  display:inline;
  float:left;
  background: white;
  padding: 10px;
  cursor:pointer;
}
