<ul class="nav nav-pills mt-3">
  <li>
    <a class="nav-link" routerLink="">Home</a>
  </li>
  <!-- <li [routerLinkActive]="'active'">
    <a class="nav-link" [routerLink]="'terms'">Terms</a>
  </li>
  <li [routerLinkActive]="'active'">
    <a class="nav-link" [routerLink]="'about'">About Us</a>
  </li>

  <li [routerLinkActive]="'active'">
    <a class="nav-link" [routerLink]="'contact'">Contact</a>
  </li>

  <li [routerLinkActive]="'active'">
    <a class="nav-link" [routerLink]="'courses'">Courses</a>
  </li> -->
  <span>
    <!-- <li (click)="login()">Login</li>
    <li (click)="logout()">Logout</li> -->
  </span>
</ul>
